[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
altair = "*"
sklearn = "*"
seaborn = "*"
graphviz = "*"
pydotplus = "*"
mglearn = "*"

[dev-packages]

[requires]
python_version = "3.8.5"

[scripts]
makebook = "touch notebook.ipynb"
